// Agrega clases de ayuda para manejar transiciones
// Carmine Maggio - Golding Design
//
.duration-200 {
    transition: all 200ms ease-in-out;
}
.duration-300 {
    transition: all 300ms ease-in-out;
}
.duration-400 {
    transition: all 400ms ease-in-out;
}